/*GENERAL*/
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    width: 100%;
    color: #777;
    line-height: 1.8;
    margin: 0%;
    padding: 0%;
}

/*Barra de navegación superior*/
.topnav {
    background-color: #21181e;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; /*NO TOCAR! Arregla conflicto div y navbar*/
    display: flex;
    justify-content: space-between;

  }
/*Estilo de los links en la barra de navegación*/
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
    font-size: 17px;
}
/*Cambiar el color de los links al pasar el ratón*/
.topnav a:hover:not(.active) {
    background-color: #fd6604;
    color: #21181e;
}
/*Estilo imagen de prefil*/
.profile {
    margin-left: auto;
    align-self: center;
    padding-right: 2rem;
  }
/*Estilo botones topnav*/
.navbuttons{
    align-self: center;
}

/*-----------------------------------------------------------------------------------------*/

/*HOMEPAGE*/
/*Parallax con la imagen de fondo*/
.bkimg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("background.jpeg");
    min-height: 100%;
    display: grid;
  }
/*Transparencia Parallax*/
.opac {
    opacity: 0.75;
}

/*Estilo contendor inicio*/
.logo {
    align-self: center;
    justify-self: center;
    width: 40%;
    margin-top: 86.8px;
  }

/*Estilo marcadores*/
.pointer {
    margin: 0;
    display: flex;
    align-self: center;
    justify-self: center;
}

/*Estilo bloques de texto*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 10%;
    margin-right: 10%;
}
/*Aliniamiento texto*/
.textright {
    padding-left: 30px;
}
.textleft {
    padding-right: 30px;
}

/*Bloque solo texto*/
.textcontainer {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

/*Pie de página*/
footer {
    text-align: center;
    background-color: #21181e;
    color: white;
}

/*-----------------------------------------------------------------------------------------*/

/*LOGIN Y REGISTRO*/
/*Estilo pagina del login y registro*/
.regin{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("background.jpeg");
    min-height: 100%;
    display: grid;
}
/*Estilo contenedor del form del login y registro*/
.form_container{
    margin-top: 86.8px;
    align-self: center;
    justify-self: center;
}
/*Estilo form del login y registro*/
.form{
    background: rgba(255,255,255,0.3);
    padding: 3em;
    border-radius: 20px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(30px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}
/*Estilo título del login y registro*/
.tittle{
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0,0S,0,0.2);
  }
/*Estilo de los input y botones*/
.input {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    
    &:hover {
      background: rgba(255,255,255,0.1);
      box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
    }
}
/*Estilo de los hipervínculos*/
.link{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    
    &:hover {
      text-shadow: 2px 2px 6px #00000040;
    }
    
    &:active {
      text-shadow: none;
    }
  }